{
  "plugins": [
    "transform-runtime",
    "transform-es2015-destructuring",
    "transform-es2015-arrow-functions",
    "check-es2015-constants"
  ],
  "only": [
    "node_modules/ol/**"
  ],
  "presets": [
    "env"
  ]
}