<!doctype html>
<html ng-app="main" ng-strict-di>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.gaId %>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', '<%= htmlWebpackPlugin.options.gaId %>');
    </script>
    <meta charset="utf-8">
    <!-- Set the character encoding for this document (if not set already), so that all characters within the UTF-8 space (such as emoji) are rendered correctly -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Allows control over where resources are loaded from -->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'">-->
    <!-- Place as early in the document as possible -->
    <!-- Only applies to resources below this tag -->

    <!-- Name of web application (only should be used if the website is used as an app) -->
    <meta name="large-cluster" content="LargeCluster">

    <!-- Short description of the document (limit to 150 characters) -->
    <!-- In *some* situations this description is used as a part of the snippet shown in the search results. -->
    <meta name="description" content="This is a prototype demonstration of clustering large number of points using supercluster library in the browser">

    <!-- Control the behavior of search engine crawling and indexing -->
    <meta name="robots" content="index,follow">
    <!-- All Search Engines -->
    <meta name="googlebot" content="index,follow">
    <!-- Google Specific -->

    <!-- Tells Google not to show the sitelinks search box -->
    <meta name="google" content="nositelinkssearchbox">

    <!-- Tells Google not to provide a translation for this document -->
    <meta name="google" content="notranslate">

    <!-- Identify the software used to build the document (i.e. - WordPress, Dreamweaver) -->
    <meta name="generator" content="webpack">

    <!-- Short description of your document's subject -->
    <meta name="subject" content="Large clustering prototype">

    <!-- Gives a general age rating based on the document's content -->
    <meta name="rating" content="General">

    <!-- Allows control over how referrer information is passed -->
    <meta name="referrer" content="no-referrer">

    <!-- Disable automatic detection and formatting of possible phone numbers -->
    <meta name="format-detection" content="telephone=no">

    <!-- Completely opt out of DNS prefetching by setting to "off" -->
    <meta http-equiv="x-dns-prefetch-control" content="off">

    <!-- Specifies the document to appear in a specific frame -->
    <meta http-equiv="Window-Target" content="_value">

    <!-- Geo tags -->
    <meta name="ICBM" content="11, 48">
    <meta name="geo.position" content="11;48">
    <meta name="geo.region" content="Germany">
    <!-- Country code (ISO 3166-1): mandatory, state code (ISO 3166-2): optional; eg. content="US" / content="US-NY" -->
    <meta name="geo.placename" content="Munich">
    <!-- eg. content="New York City" -->
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <ui-view></ui-view>
</body>

</html>